<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://bhlokana-getproductid.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/07a9a2a5-ceb6-4b0b-b356-094a827d0ace/resourceGroups/bhlokana/providers/Microsoft.Web/sites/bhlokana-GetProductID</ResourceId>
    <UserName>$bhlokana-GetProductID</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://bhlokana-getproductid.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>